<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Appointment Management</h5>
   <p class="text-muted">Easily manage your appointments</p>
   <div class="row g-0 mt-4">
    <div class="card p-5 mt-3 mb-3">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Appointments</h5>
         <p class="mb-4"><small>Here are your appointments</small></p>
       </div>
       <div class="d-flex flex-column mt-2">
         <router-link to="/dashboard/appointment/select" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i> Appointment</router-link>
       </div>
     </div>
      <vue-cal active-view="day" :events="appointments" style="height: 450px" :on-event-click="onEventClick"/>
    </div>
   </div>
  </div>

   <!-- SHOW INFO MODAL --->
  <b-modal id="showEventInfoModal" centered title="Event Info">
    <div class="row p-3">
      <div class="col">
        <h6>Name: {{selectedEvent.title}}</h6>
        <h6>Schedule: {{selectedEvent.start | moment}} - {{selectedEvent.end | moment}}</h6>
        <h6>Description: {{selectedEvent.content}}</h6>
        <h6>Client: {{selectedEvent.user.info.first_name}} {{selectedEvent.user.info.last_name}}</h6>
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="danger" size="sm" @click="deleteAppointment" :disabled="isLoading"> Delete </b-button>
      <b-button variant="success" size="sm" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { mapState } from 'vuex'
import moment from 'moment'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
 components: {
   VueCal
	},
 data() {
  return{
    selectedEvent: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
    isLoading: false,
    initialLoading: false,
  }
 },
 async mounted(){
   this.initialLoading = true
   await this.$store.dispatch('auth/checkAdminUser')
   this.getAppointment()
   this.initialLoading = false
 },
 methods: {
   async getAppointment(){
     const res = await this.$store.dispatch('appointment/getAppointments')
   },
   onEventClick(event, e){
    this.selectedEvent = event
    console.log(this.selectedEvent)
    this.$bvModal.show('showEventInfoModal')
    e.stopPropagation()
   },
   async deleteAppointment(){
     this.isLoading = true
     const res = await this.$store.dispatch('appointment/deleteAppointment', this.selectedEvent.id)
     if(res.status == 200){
       this.getAppointment()
       this.$toast.success('Appointment deleted successfully')
     }
     this.$bvModal.hide('showEventInfoModal')
     this.isLoading = false
   }
  },
  computed: {
    ...mapState('appointment', ['appointments'])
  }
}
</script>
<style>
.vuecal__menu, .vuecal__cell-events-count {
 background-color:rgb(38, 117, 221) !important;
}
.vuecal__view-btn {
 color: white !important;
}
.vuecal__event {
  background: rgb(38, 117, 221) !important;
  color: white;
}
.vuecal__event-time {
  background: rgb(38, 117, 221) !important;
}
.vuecal__event-content {
  background: rgb(38, 117, 221) !important;

}
</style>