<template>
  <div class="sidenav">
   <div class="logo">
     <img class="img-fluid" src="@/assets/images/logo.png" alt="">
   </div>
   <p class="text-center text-white fw-bolder">PATIENT BILLING SYSTEM</p>
   <p class="text-center mb-5 text-white fw-bold"><small>{{Date.now() | moment}}</small></p>
   <router-link to="/dashboard/home"><i class="bi bi-bookmarks"></i> Home</router-link>
   <router-link to="/dashboard/patients"><i class="bi bi-people"></i> Clients</router-link>
   <router-link to="/dashboard/appointment"><i class="bi bi-calendar-plus"></i> Appointment</router-link>
   <router-link to="/dashboard/billing" :class="getRoute == '/dashboard/selectuser' ? 'router-link-active' : ''"><i class="bi bi-cash-coin"></i> Billing</router-link>
   <a href="" v-on:click.prevent="setValues(); $bvModal.show('settingsModal')" ><i class="bi bi-tools"></i> Settings</a>
   <a href="" v-on:click.prevent="$bvModal.show('logoutModal')"><i class="bi bi-x-circle"></i> Log-out</a>

   <b-modal id="logoutModal" centered title="Logout">
    <p class="my-4">Are you sure you want to log-out?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button size="sm" variant="danger" v-on:click.prevent="logout">
        Logout
      </b-button>
    </template>
   </b-modal>

  <b-modal id="settingsModal" centered title="Account Settings">
   <div class="row pe-4 ps-4 pt-2 pb-2">
    <div class="col">
     <label for="item">First Name</label>
     <input v-model="data.first_name" id="item" type="text" class="form-control" placeholder="" aria-label="First Name">
     
     <label for="remarks">Middle Name</label>
     <input v-model="data.middle_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Middle Name">

     <label for="remarks">Last Name</label>
     <input v-model="data.last_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Last Name">

     <label for="gender">Select Gender</label>
     <select id="gender" v-model="data.gender" class="form-select">
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     </select>
     
     <label for="email">Email</label>
     <input v-model="data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">

     <label for="password">Password </label>
     <input v-model="data.password" id="password" type="password" class="form-control" placeholder="" aria-label="Password">
     <label class="text-muted"><small>Leave blank if you dont want to change your password</small></label>
    </div>
   </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="updateAccount" :disabled="isLoading">
        Update
      </b-button>
    </template>
   </b-modal>
  </div>
</template>
<script>
import moment from 'moment'
import { mapActions, mapState } from 'vuex';
export default {
  data(){
    return {
      data:{
        id: '',
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: '',
        email: '',
        password: '',
      },
      isLoading: false,
    }
  },
  filters: {
     moment: function (date) {
      return moment(date).format('MMMM DD, YYYY');
    }
  },
  mounted(){
    this.setValues()
  },
  methods: {
   ...mapActions('auth', ['logoutAdminUser']),
   async logout(){
     const res = await this.logoutAdminUser()
     if(res.status == 200){
       this.$router.push('/')
     }
   },
   setValues(){
     this.data.id = this.user.id
     this.data.first_name = this.user.info.first_name
     this.data.middle_name = this.user.info.middle_name
     this.data.last_name = this.user.info.last_name
     this.data.gender = this.user.info.gender
     this.data.email = this.user.email
   },
   async updateAccount(){
     this.isLoading = true
     const res = await this.$store.dispatch('auth/updateAdminAccount', this.data)
     if(res.status == 200){
       await this.$store.dispatch('auth/checkAdminUser')
       this.$bvModal.hide('settingsModal')
       this.$toast.success('Account Info updated successfully!')
     }
     this.isLoading = false
   }
  },
  computed: {
    ...mapState("auth", ["user"]),
   getRoute: function(){
      return this.$route.path
    }
  }
}
</script>