<template>
 <div>
  <div class="container">
   <h5 class="text-primary pt-4">Billing Management</h5>
   <p class="text-muted">Here are the list of your billings</p>
   <div class="row g-0 mt-4">
    <div class="card p-5 mb-4">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Client Billing</h5>
         <p class="mb-4"><small>Manage your client bills below</small></p>
       </div>
       <div class="d-flex flex-column mt-2">
         <router-link to="/dashboard/selectuser" class="btn btn-primary"><i class="bi bi-cash-coin"></i> New Billing</router-link>
       </div>
     </div>
     <div class="d-flex justify-content-end mt-2">
       <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group mb-3">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
           <button @click.prevent="billingSearch" class="btn btn-primary"><i class="bi bi-search"></i></button>
         </div>
       </div>
     </div>
     <div class="table-responsive mt-4">
      <b-skeleton-table
         v-if="initialLoading"
         :rows="4"
         :columns="6"
         :table-props="{ bordered: false, striped: false }"
       ></b-skeleton-table>
      <table v-if="!initialLoading" class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">Client Name</th>
            <th scope="col" class="text-nowrap">Contact Number</th>
            <th scope="col" class="text-nowrap">Email</th>
            <th scope="col" class="text-nowrap">Payment Fee</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Status</th>
            <th scope="col">Remarks</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(billing, i) in billing.data" :key="i" >
            <td class="text-nowrap">{{billing.user.info.first_name}} {{billing.user.info.last_name}}</td>
            <td class="text-nowrap">{{billing.user.info.contact_number}}</td>
            <td class="text-nowrap">{{billing.user.email}}</td>
            <td class="text-nowrap">{{formatCurrency(billing.payment_fee)}}</td>
            <td>{{billing.created_at | moment}}</td>
            <td>{{billing.status}}</td>
            <td>{{billing.remarks}}</td>
            <td class="text-nowrap">
             <a v-if="billing.status == 'Unpaid'" v-on:click.prevent="data = JSON.parse(JSON.stringify(billing));; $bvModal.show('updateBillingModal')" class="btn btn-primary btn-sm me-2" href=""><i class="bi bi-pencil"></i></a>
             <a v-on:click.prevent="id = billing.id; $bvModal.show('deleteModal')" class="btn btn-danger btn-sm" href=""><i class="bi bi-x"></i> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
     <div class="row mt-3">
       <pagination :showDisabled="true" :align="'right'"  :data="billing" @pagination-change-page="billingSearch">
         <span slot="prev-nav">&laquo;</span>
         <span slot="next-nav">&raquo;</span>
       </pagination>
     </div>
    </div>
   </div>
  </div>

  <!-- DELETE MODAL --->
  <b-modal id="deleteModal" centered title="Confirm Delete">
    <p class="">Are you sure you want to delete this billing record?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="danger" size="sm" v-on:click.prevent="deleteBilling" :disabled="isLoading">
        Delete
      </b-button>
    </template>
   </b-modal>

   <b-modal id="updateBillingModal" centered title="Update Billing">
   <div class="row pe-3 ps-3">
    <div class="col">
     <label for="item">Name</label>
     <input v-model="data.name" id="item" type="text" class="form-control" placeholder="" aria-label="Item">
     <label for="remarks">Remarks</label>
      <input v-model="data.remarks" id="remarks" type="text" class="form-control" placeholder="" aria-label="Remarks">
    </div>
   </div>
   <div class="row pe-3 ps-3">
     <div class="col mt-2">
           <label for="price">Payment Fee</label>
     <input v-model="data.payment_fee" id="price" type="number" class="form-control" placeholder="" aria-label="Price">
     </div>
     <div class="col mt-2">
      <label for="status">Status</label>
      <select v-model="data.status" id="status" type="text" class="form-select" placeholder="" aria-label="Status">
       <option value="Paid">Paid</option>
       <option value="Unpaid">Unpaid</option>
      </select>
     </div>
   </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="updateBilling" :disabled="isLoading">
        Update
      </b-button>
    </template>
   </b-modal>

 </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
filters: {
  moment: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm a');
  }
},
 data(){
  return {
   initialLoading: false,
   search: '',
   id: '',
   isLoading: false,
   data: {}
  }
 },
 async mounted(){
   this.initialLoading = true
   document.title = 'Billing Management'
   await this.$store.dispatch('auth/checkAdminUser')
   await this.getAllBillings()
   this.initialLoading = false
 },
 methods: {
   formatCurrency(data){
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'PHP',
      });
      return formatter.format(data);
   },
   async updateBilling(){
     this.isLoading = true
     const res = await this.$store.dispatch('billing/updateBilling', this.data)
     if(res.status == 200){
       this.getAllBillings()
       this.$toast.success('Billing updated successfully')
       this.$bvModal.hide('updateBillingModal')
     }
     this.isLoading = false
   },
   async getAllBillings(page = 1){
     await this.$store.dispatch('billing/getBillings', page)
   },
   async searchBilling(page = 1){
    let data = {
     search: this.search
    }

    this.isSearching = true
    await this.$store.dispatch('billing/searchBilling', {page: page, data: data})
    this.isSearching = false
   },
   async billingSearch(){
    if(this.search == ""){
     this.getAllBillings()
    }
    else {
     this.searchBilling()
    }
   },
  async deleteBilling(){
    this.isLoading = true
    const res = await this.$store.dispatch('billing/deleteBilling', this.id)
    if(res.status == 200){
      this.$bvModal.hide('deleteModal')
      this.$toast.success('Billing deleted successfully!')
    }
    this.isLoading = false
  }
 },
 computed: {
   ...mapState('billing', ['billing'])
 },
 watch: {
   search(before, after){
      this.billingSearch()
    },
  }

}
</script>